*{
    background: yellow;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
    color: red;
    padding-top: 87px;
}
.discover{
    color: black;
}
.flex{
    display: flex;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    margin-top: 50px;
    padding: 101px;   
}

.img{
    background: white;
    width: 220px;
    height: 215px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    filter: blur(10px);
}
.img:hover{
    border-color:rgb(244, 195, 250);
}
.img:hover{
    filter: blur(0px);
}
.heading{
    background: none;
    text-align: center;
    padding-top: 18px;
}
p{
    background: none;
    text-align: left;
    padding: 13px 10px 0 10px;
    text-align: center;
}

.footer{
    text-align: center;
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
    border: 1px solid white;
}



@media (max-width:1000px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:800px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }
}
@media (max-width:500px){
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        padding: 48px;
    }
}
